// ========================================
// Colors
// ========================================
$black	: #0c0c0c;
$white 	: #f9f9f9;

$primary : #11226B;
$pink : #E9DDD9;
$grey : #6B6C70;
$lightgrey  : #DDD9D0;

$darkgrey : #333747;

// ========================================
// Screen sizes
// ========================================
$mobile  :		480px;
$tablet  :		769px;
$desktop : 		1000px;
$fullhd  :		1384px;

$headerHeight: 60px;

$containerWidth: 1920px;
$mediumContainerWidth: 1084px;
$smallContainerWidth: 800px;