// ========================================
// Colors
// ========================================
$black	: #000000;
$white 	: #FFFFFF;

$primary : #11226B;
$pink : #E9DDD9;
$grey : #6B6C70;
$lightgrey  : #DDD9D0;

// ========================================
// Screen sizes
// ========================================
$mobile  :		480px;
$tablet  :		769px;
$desktop : 		1000px;
$fullhd  :		1384px;

$headerHeight: 60px;